<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1,shrink-to-fit=no'
    />
		<title>Astro Client Side Routing</title>
	</head>
	<body>
		<h1>Astro Client Side Routing</h1>
		<a href="/app">Go to App Index</a>
		<br />
		<a href="/app/settings">Go to App Settings</a>
		<script>
      import('../app')
    </script>
	</body>
</html>
